# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [19]:
CREATE TABLE JunkDB_KC.Tshililo.planned_makes (
    PlantID int NOT NULL PRIMARY KEY,
    PlantName varchar(50) NOT NULL,
    Color varchar(50) NOT NULL,
    Count int,
    Edible varchar(3)
);

Add three rows to your table that are your planned makes.

In [20]:
INSERT INTO JunkDB_KC.Tshililo.planned_makes (PlantID, PlantName, Color, Count, Edible)
    VALUES (11, 'Petunia', 'Yellow', 5, 'No');

INSERT INTO JunkDB_KC.Tshililo.planned_makes (PlantID, PlantName, Color, Count, Edible)
    VALUES (12, 'Chrysethemun', 'White', 3, 'Yes');

INSERT INTO JunkDB_KC.Tshililo.planned_makes (PlantID, PlantName, Color, Count, Edible)
    VALUES (13, 'Violet', 'Purple', 6, 'No');

## Update a Row

Change different values in one of your three rows.

In [21]:
UPDATE JunkDB_KC.Tshililo.planned_makes
SET PlantName = 'Rose'
WHERE PlantID = 12;

## Delete a Row

Delete one of the rows from your table.

In [22]:
DELETE FROM JunkDB_KC.Tshililo.planned_makes
WHERE PlantID = 12;

## Drop the Table

While this has been fun, it is time to drop the table!

In [23]:
DROP TABLE JunkDB_KC.Tshililo.planned_makes